In [1]:
import sys
sys.path.append('../scripts')
import re
import os
import pandas as pd

from preprocessing import *

In [2]:
df = pd.read_csv(r'../data/external/company_list_from_excel.csv')

In [3]:
df = df.drop_duplicates(ignore_index=True)
df.head()

,company,industry,sector
0,Amcor PLC,Containers & Packaging,Resource Transformation
1,Atlantica Sustainable Infrastructure PLC,Electric Utilities & Power Generators,Infrastructure
2,BAE Systems PLC,Aerospace & Defense,Resource Transformation
3,Barclays PLC,Commercial Banks,Financials
4,BP PLC,Oil & Gas – Exploration & Production,Extractives & Minerals Processing

In [4]:
dir_2019 = '../data/raw/annual_reports/2019'
dir_2020 = '../data/raw/annual_reports/2020'

dir_list = [dir_2019,dir_2020]

companies=[]
for directory in dir_list:
    for filename in os.listdir(directory):
        if filename.endswith(".pdf"):
            company = ' '.join(filename.split('_Annual_Report_')[0].split('_'))
            companies.append(company)

Check if company in a PDF in our list of directories

In [5]:
pattern = '|'.join((companies))
# print(pattern)
df['TF'] = df.company.str.contains(pattern, regex=True)

In [6]:
df['TF'] = df.company.str.contains(pattern)

In [7]:
df['company'] = df["company"].str.split("PLC").str[0].str.split("_").str[0]

In [8]:
df.head()

,company,industry,sector,TF
0,Amcor,Containers & Packaging,Resource Transformation,True
1,Atlantica Sustainable Infrastructure,Electric Utilities & Power Generators,Infrastructure,False
2,BAE Systems,Aerospace & Defense,Resource Transformation,True
3,Barclays,Commercial Banks,Financials,True
4,BP,Oil & Gas – Exploration & Production,Extractives & Minerals Processing,True

In [9]:
df=df[df.TF]
df=df.drop(columns=['TF'])

In [10]:
df.head()

,company,industry,sector
0,Amcor,Containers & Packaging,Resource Transformation
2,BAE Systems,Aerospace & Defense,Resource Transformation
3,Barclays,Commercial Banks,Financials
4,BP,Oil & Gas – Exploration & Production,Extractives & Minerals Processing
5,British American Tobacco,Tobacco,Food & Beverage

In [11]:
df.describe()

             company                               industry          sector
count             41                                     41              41
unique            41                                     22              10
top     Network Rail  Electric Utilities & Power Generators  Infrastructure
freq               1                                      6               9

In [12]:
df.to_csv(r'../data/external/companies_industries_sectors.csv', index=False)